.loginScreen {
  height: 100%;
  position: relative;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/5a27cb25-33a9-4bcc-b441-95fefabcbd37/6bdbf132-dd7b-4d42-8f84-9139f9c4eaac/VN-en-20210823-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.loginScreen__gradient {
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.loginScreen__body {
  position: absolute;
  top: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 1;
  color: #fff;
  left: 0;
  right: 0;
  padding: 20px;
}

.loginScreen__body > h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
  max-width: 640px;
  line-height: 1.1;
  margin-right: auto;
  margin-left: auto;
}

.loginScreen__body > h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.loginScreen__body > h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.loginScreen__logo {
  position: fixed;
  left: 0;
  top: 28px;
  width: 125px;
  object-fit: contain;
  margin-left: 3.5rem;
  cursor: pointer;
}

.loginScreen__button {
  position: fixed;
  right: 0;
  top: 28px;
  padding: 10px 20px;
  margin-right: 3.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  cursor: pointer;
  border: none;
}

.loginScreen__input {
  margin: 20px;
}

.loginScreen__input > form > input {
  padding: 10px;
  outline-width: 0;
  height: 50px;
  width: 30%;
  border: none;
  max-width: 600px;
}

.loginScreen__getStarted {
  padding: 16px 20px;
  font-size: 1rem;
  background-color: #e50914;
  color: #fff;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
