.row {
  margin-left: 20px;
  color: #fff;
}
.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}
.row__poster:hover {
  transform: scale(1.08);
}
.row__posterLarge {
  max-height: 250px;
}
.row__posterLarge:hover {
  transform: scale(1.09);
}

.row h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.poster__detail {
  padding: 20px;
  position: relative;
  margin-bottom: 30px;
}
.hamburger {
  position: absolute;
  top: 10%;
  right: 5%;
  cursor: pointer;
}
.hamburger:hover .line::after,
.hamburger:hover .line::before {
  background-color: #ccc;
  transition: all 0.5s;
}
.line {
  position: relative;
}

.line::before {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 30px;
  height: 3px;
  top: 0;
  left: 0;
  transform: rotate(45deg);
}
.line::after {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 30px;
  height: 3px;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
}

.poster__content {
  margin: 80px 0 30px;
}

.poster__content h3 {
  font-size: 40px;
  letter-spacing: 2px;
}

.poster__content span {
  font-size: 14px;
  font-style: italic;
}

.poster__content p {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 50%;
}
.poster__content button {
  cursor: pointer;
  color: #333;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #ffffff;
}
